.flash-sale {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffecdf;
    border-radius: 6px;
    text-align: center;
    padding: 4px 0;
}

.flash-sale::before {
    content: '';
    background-image: $foodpromarts_background_image_icon;
    background-size: $foodpromarts_background_image_size;
    background-position: -347px -923px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
}

.red-color span {
    font-size: 15px;
    font-weight: 600;
}